{% extends 'html/base.html' %}
{% load static %}

{% block content %}
  <div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a href="{% url 'country' %}" style="color: grey;">Country/</a></span> State</h4>
      <div class="container-fluid flex-grow-1 container-p-y">
        {% if messages %}
          {% for message in messages %}
            {% if message.tags == 'success' %}
              <div class="alert alert-success" role="alert">{{ message }}</div>
            {% elif message.tags == 'error' %}
              <div class="alert alert-danger alert-dismissible" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
        
        <div class="row">
          <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h5 class="mb-0">Add State Form</h5>
            </div>
            <div class="card-body">
              <form action="{% url 'state' countryobj.slug %}" method="post">
                {% csrf_token %}
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label class="form-label" for="basic-icon-default-fullname">Country Name</label>
                    <div class="input-group input-group-merge">
                      <span id="basic-icon-default-fullname2" class="input-group-text">
                        <i class="bx bx-user"></i>
                      </span>
                      <input type="text" class="form-control" id="basic-icon-default-fullname" value="{{countryobj.name}}" placeholder="India" name="country_name" disabled>
                      <input type="hidden" class="form-control" value="{{countryobj.slug}}" id="country_slug" name="country_slug" placeholder="Maharashtra" />
                    </div>
                  </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label class="form-label" for="state_name">State Name</label>
                    <div class="input-group input-group-merge">
                      <span class="input-group-text"><i class="bx bx-user"></i></span>
                      <input type="text" class="form-control" id="state_name" name="state_name" placeholder="State name" required />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="slug">Slug</label>
                    <div class="input-group input-group-merge">
                      <span class="input-group-text"><i class="bx bx-hash"></i></span>
                      <input type="text" class="form-control" id="slug" name="state_slug" placeholder="slug" required/>
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <label class="form-label" for="language">Language</label>
                    <div class="input-group input-group-merge">
                      <span class="input-group-text"><i class="bx bx-globe"></i></span>
                      <input type="text" class="form-control" id="language" name="language" placeholder="language" required/>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label" for="population">Population</label>
                    <div class="input-group input-group-merge">
                      <span class="input-group-text"><i class="bx bx-globe"></i></span>
                      <input type="number" class="form-control" id="population" name="population" placeholder="population" required/>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
            </div>
          </div>
        </div>
<!-- State Table -->
        <div class="card">
          <h5 class="card-header">State Table</h5>
          <div class="table-responsive text-nowrap">
            <table class="table">
              <thead>
                <tr>
                  <th>Sr. No.</th>
                  <th>Country Name</th>
                  <th>State Name</th>
                  <th>Slug</th>
                  <th>Language</th>
                  <th>Population</th>
                  <th>Add City</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                {% for item in stateobj %}
                <tr>
                  <td><strong>{{ forloop.counter }}</strong></td>
                  <td>{{ item.country.name }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.slug }}</td>
                  <td>{{ item.language }}</td>
                  <td>{{ item.population }}</td>
                  <td><a href="{% url 'city' item.country.slug item.slug %}"><button type="button" class="btn btn-outline-primary">Add City</span></td></a>
                  <td><a href="{% url 'togglestate' item.slug %}">
                      {% if item.is_active %}
                      <span class="badge bg-label-success me-1">Active</span>
                      {% else %}
                      <span class="badge bg-label-danger me-1">In-active</span>
                      {% endif %}
                      </a>
                    </td>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                        <i class="bx bx-dots-vertical-rounded"></i>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'stateupdate' item.slug %}"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                        <form action="{% url 'statedelete' item.slug %}">
                          <input type="hidden" value="{{ item.id }}" name="del_id" />
                          <button class="dropdown-item" type="submit"><i class="bx bx-trash me-1"></i> Delete</button>
                      </form>                      
                    </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                  {% if stateobj.has_previous %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ stateobj.previous_page_number }}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                          </a>
                      </li>
                  {% endif %}
                  {% for num in stateobj.paginator.page_range %}
                      {% if stateobj.number == num %}
                          <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                      {% elif num > stateobj.number|add:'-3' and num < stateobj.number|add:'3' %}
                          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                      {% endif %}
                  {% endfor %}
                  {% if stateobj.has_next %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ stateobj.next_page_number }}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                          </a>
                      </li>
                  {% endif %}
              </ul>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
