{% extends 'html/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Confirm State Deletion</h2>
        </div>
        <div class="card-body">
            <p style="font-size: 18px;">Are you sure you want to delete <b class="dark">"{{ stateobj.name }}"</b>?</p>
            <form action="{% url 'statedelete' stateobj.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger me-2" type="submit">Confirm Delete</button>
                <a href="{% url 'state' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
